@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");


.Container {
    width: 80%;
    height: 45px;
    display: flex;
    border: 1px solid black;
    align-items: center;
    font-family: "Roboto Mono", monospace;
    font-size: 18px;
    font-weight: 400;
    padding-left: 10px;

    white-space: nowrap; 
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */

    
}