@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");


.Container {
    width: 400px;
    height: 55px;
    /* display: flex;
    align-items: center; */
    font-family: "TRY-finder-bold", monospace;
    font-size: 18px;
    font-weight: 700;
    padding-left: 10px;
    line-height: 24.34px;
    display: flex;
    padding-left: 30px;
    align-items: center;
    white-space: nowrap; 
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; /* Добавляем многоточие */
    cursor: pointer;
    box-sizing: border-box;
}

.Container:hover {
    background-color: #E7E7E7;
}

.Container:active {
    background-color: #E7E7E7;
}
