@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

.Container {
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    background-color: #ffffff;
    overflow: auto;
}

/* @media screen and (min-width: 1920px) {
    .Container {
        width: 1920px;
    }
} */

.BoxContainer {
    height: calc(100vh - 100px);
    width: 100vw;
    margin-top: 50px;
    height: calc(100vh - 100px);
    min-height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    column-gap: 20px;
    position: relative;
    /* overflow: auto; */
}

.ProfileInfo {
    /* width: 808px; */
    width: 100vw;
    min-width: 808px;
    height: 159px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.TopContainer {
    /* width: 808px; */
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.BottomContainer {
    /* width: 808px; */
    width: 100vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    flex-direction: row;
}

.TopRight {
    width: 382px;
    height: 60px;
}

.Subscription {
    height: 38px;
    font-family: "TRY-finder-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    color: #1cc600;
}

.EndDate {
    height: 22px;
    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    color: #000000;
}

.TopLeft {
    width: 382px;
    height: 60px;
}

.ProfileName {
    height: 38px;
    font-family: "TRY-finder-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: right;
    color: #000000;
}

.RegisterDate {
    height: 22px;
    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    color: #000000;
}

.BottomRight {
    width: calc(100vw - 50% - 40px);

    height: 60px;
    float: left;
}
.BottomLeft {
    width: calc(100vw - 50% - 40px);
    height: 60px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.Rate {
    height: 38px;
    font-family: "TRY-finder-bold";
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    text-align: left;
    color: #ed00c7;
}

.CardsContainer {
    width: fit-content;
    height: 395px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.TextBlock {
    width: 744px;
    font-family: "TRY-finder-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #000000;
}

.TaxBox {
    width: fit-content;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    gap: 10px;
}

.Tax {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TRY-finder-regular";
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;

    width: 46px;
    height: 22px;
    padding: 0px 5px;
    box-sizing: border-box;
    background: #eaeaea;
    border-radius: 5px;
}

.TaxPercent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TRY-finder-regular";
    flex-direction: row;
    flex-wrap: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;

    width: fit-content;
    height: 22px;
    padding: 0px 5px;
    box-sizing: border-box;
    background: #eaeaea;
    border-radius: 5px;
}
.TaxActive {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "TRY-finder-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;

    width: fit-content;
    height: 22px;

    background: #eaeaea;
    border-radius: 5px;
}

.TaxInput {
    padding: 0;
    padding-left: 3px;
    border: 0;
    box-sizing: border-box;
    width: 28px;
    border: 0;
    background-color: #eaeaea;

    font-family: "TRY-finder-regular";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    color: #000000;
}

.Tax:hover {
    background-color: #c0c0c0;
}

@media screen and (min-width: 990px) and (max-width: 1650px) {
    .ProfileInfo {
    }
    .CardsContainer {
        height: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 72px;
    }
    .Container {
        min-height: fit-content;
        overflow: scroll;
    }
    .BoxContainer {
        height: fit-content;
        overflow: scroll;
    }
}
@media screen and (max-width: 990px) {
    .ProfileInfo {
        margin-bottom: 78px;
        height: 119px;
    }

    .TopContainer {
        /* width: 808px; */
        width: 100vw;
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .BottomContainer {
        /* width: 808px; */
        width: 100vw;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .TopRight {
        width: 235px;
        height: 52px;
    }

    .Subscription {
        font-family: "TRY-finder-bold";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        height: 32px;
    }

    .EndDate {
        height: 19px;
        font-family: "TRY-finder-light";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: left;
        color: #000000;
    }

    .TopLeft {
        width: 233px;
        height: 52px;
    }

    .ProfileName {
        height: 32px;
        font-family: "TRY-finder-bold";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: right;
        color: #000000;
    }

    .RegisterDate {
        height: 19px;
        font-family: "TRY-finder-light";
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 19px;
        text-align: right;
        color: #000000;
    }

    .BottomRight {
        width: calc(100vw - 50% - 40px);

        height: 62px;
        float: left;
    }
    .BottomLeft {
        width: calc(100vw - 50% - 40px);
        height: 62px;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
    }

    .Rate {
        height: 32px;
        font-family: "TRY-finder-bold";
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        color: #ed00c7;
    }

    .CardsContainer {
        height: fit-content;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 40px;
        margin-bottom: 72px;
    }
    .Container {
        min-height: fit-content;
        overflow: scroll;
    }
    .BoxContainer {
        height: fit-content;
        overflow: scroll;
    }
    .TextBlock {
        width: 592px;
        height: 135px;

        font-family: "TRY-finder-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        text-align: center;

        color: #000000;

        margin-bottom: 44px;
    }

    .TaxBox {
        width: fit-content;
        max-width: 342px;
        height: 29px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: scroll;
        gap: 10px;
    }

    .Tax {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "TRY-finder-regular";
        flex-direction: row;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */

        color: #000000;

        width: 41px;
        height: 19px;
        padding: 0px 5px;
        box-sizing: border-box;
        background: #eaeaea;
        border-radius: 5px;
    }

    .TaxPercent {
        height: 19px;
        max-width: fit-content;
        display: inline-block;
        white-space: nowrap;
        /* overflow: hidden; */
       
    }

    /* #Running:hover {
        animation-play-state: paused;
    }

    @keyframes runline {
        to {
            transform: translateX(-100%);
        }
    } */

    .TaxPercent {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "TRY-finder-regular";
        flex-direction: row;
        flex-wrap: nowrap;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */

        color: #000000;

        width: fit-content;
        height: 19px;
        padding: 0px 5px;
        box-sizing: border-box;
        background: #eaeaea;
        border-radius: 5px;
    }
    .TaxActive {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "TRY-finder-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */

        color: #000000;
       
        white-space: nowrap;
        width: fit-content;
        height: 19px;

        background: #eaeaea;
        border-radius: 5px;
    }

    .TaxInput {
        padding: 0;
        padding-left: 3px;
        border: 0;
        box-sizing: border-box;
        width: 28px;
        border: 0;
        background-color: #eaeaea;

        font-family: "TRY-finder-regular";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height */

        color: #000000;
    }
}
