@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

.Container {
    width: 400px;
    height: 360px;
    background-color: #F1F1F1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 28px 26px 28px;
    display: flex;
    justify-content: left;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.Title {
    width: 100%;
    height: 24px;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    border-bottom: 1px solid #CDCDCD;
    padding-bottom: 19px;
    font-family: 'TRY-finder-bold';
}

.Item {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #CDCDCD;
    width: 100%;
    line-height: 24.3px;
    padding-bottom: 19px;
    padding-top: 5px;
    font-family: 'TRY-finder-regular';
}
.ItemLast {
    font-size: 18px;
    font-weight: 400;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 19px;
    font-family: 'TRY-finder-regular';
}