@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;300;400;500;600;700&display=swap");

.Container {
    width: 100vw;
    height: 50px;
    position: sticky;
    left: 0px;
    top: 0px;
    background-color: #2c3138;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}
.LeftContainer {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    height: 60px;
}

.LogoContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.InfoContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    font-family: "TRY-finder-bold";
    font-size: 18px;
    font-weight: 700;
    color: #fff;
}
.PersonInfoContainer {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    font-family: "TRY-finder-bold";
    font-size: 18px;
    font-weight: 700;
    line-height: 24.3px;
    color: #fff;
}

.Button {
    width: 65px;
    height: 50px;
    margin-right: 30px;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-size: 18px;
    line-height: 24.3px;
    font-weight: 700;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: inherit;
    cursor: pointer;
    border: 0;
}

.Button:active {
    background-color: #20242a;
}

i {
    font-size: 25px;
}

.ShopsButton {
    height: 50px;
    width: 400px;
    padding-left: 30px;
    line-height: 24.3px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "TRY-finder-bold";
    cursor: pointer;
    box-sizing: border-box;
}

.ShopsButtonActive {
    height: 50px;
    width: 400px;
    padding-left: 30px;
    line-height: 24.3px;
    display: flex;
    align-items: center;
    background-color: #20242a;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    font-family: "TRY-finder-bold";
    cursor: pointer;
    box-sizing: border-box;
}

.ShopsButton:active {
    background-color: #20242a;
}

.StatisticsTitle {
    height: 50px;
    width: 300px;
    padding-left: 40px;
    line-height: 24.3px;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    display: flex;
    box-sizing: border-box;
}
