@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap");

.Container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.GridBox {
    width: 480px;
    height: 828px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 24px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}



.InputBox {
    width: 480px;
    height: 280px;
}

.Title {
    font-family: 'TRY-finder-bold';
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 17px;
}

.Eye {
    position: absolute;
    top: 0px;
    right: 27px;
    box-sizing: border-box;
    width: min-content;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.Input {
    font-family: 'TRY-finder-regular';
    width: 86%;
    box-sizing: border-box;
    height: 67px;
    padding: 0;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    border: none;
    padding-left: 17px;
    border-bottom: 1px solid #CECECE;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.InputError {
    font-family: 'TRY-finder-regular';
    width: 86%;
    box-sizing: border-box;
    height: 67px;
    padding: 0;
    outline: none;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    border: none;
    padding-left: 17px;
    border-bottom: 1px solid #FC3D3D;
    border-bottom-left-radius: 6px;
}

.InputEmail {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #CECECE;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.InputEmailError {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #FC3D3D;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.PasswordInput {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #CECECE;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.PasswordInputError {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #FC3D3D;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.ErrorMessage {
    height: 32px;
    font-family: "TRY-finder-regular";
    font-weight: 400;
    font-size: 24px;
    line-height: 32.45px;
    color: #FE5C61;
    padding-left: 17px;
    margin-bottom: 10px;
}

::-webkit-input-placeholder { 
        color: #A8A8A8;
    }


i {
    height: 22px;
    box-sizing: border-box;
    font-size: 22px;
    color: #CECECE;
    line-height: 22px;
}

.Logo {
    width: 137px;
}

.Qr {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.QrBox {
    width: 100%;
    height: 147px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    width: 100%;
    height: 68px;
    border-radius: 6px;
    border: 0px;
    background-color: #CECECE;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.ButtonFilled {
    width: 100%;
    height: 68px;
    border-radius: 6px;
    border: 0px;
    background-color: #FF464C;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.Button:hover {
    cursor: pointer;
    background-color: #C02328;
}

.Button:active {
    cursor: pointer;
    transform: scale(98%);
    background-color: #C02328;
}

.ButtonFilled:hover {
    cursor: pointer;
    background-color: #C02328;
}

.ButtonFilled:active {
    cursor: pointer;
    transform: scale(98%);
    background-color: #C02328;
}

.QrContainer {
    height: 266px;
    width: fit-content;
}

.QrTitle {
    font-family: 'TRY-finder-bold';
    width: 100%;
    height: 43px;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.26px;
    text-align: center;
    margin-bottom: 20px;
}
.QrTitleBottom {
    font-family: 'TRY-finder-bold';
    width: 100%;
    height: 43px;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.26px;
    text-align: center;
    margin-top: 20px;
}

.Link {
    height: 140px;
    width: fit-content;
}

input {
    outline: none;
}

@media (min-width: 540px) and (max-width: 745px) {
    .GridBox {
        width: 420px;
        height: 795px;
        
    }
    .InputBox {
        width: 420px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .Input {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputError {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }
    
    .ErrorMessage {
        
    }
    
    .Logo {
        width: 120px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 450px) and (max-width: 539px) {
    .GridBox {
        width: 420px;
        height: 795px;
        
    }
    .InputBox {
        width: 420px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .Input {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputError {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }
    
    .ErrorMessage {
        
    }
    
    .Logo {
        width: 140px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 320px) and (max-width: 449px) {
    .GridBox {
        width: 320px;
        height: 650px;
        
    }
    .InputBox {
        width: 320px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .Input {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputError {
        height: 57px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }
    
    .ErrorMessage {
        
    }
    
    .Logo {
        width: 140px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 200px) and (max-width: 319px) {
    .GridBox {
        width: 260px;
        height: 530px;
        
    }
    .InputBox {
        width: 260px;
        height: 227px;

    }
    .Title {
        font-size: 22px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .Eye {
        height: 48px;
        right: 10px;
    }

    .EyeLogo {
        height: 17px;
    }
    .Input {
        height: 47px;
        font-size: 17px;
        line-height: 24px;
    }
    .InputError {
        height: 47px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
    }
    
    .InputEmail {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    
    .PasswordInputError {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 10px;
    }
    
    .ErrorMessage {
        
    }
    
    .Logo {
        width: 120px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 48px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 48px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 213px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 30px;
        font-size: 22px;
        line-height: 24px;
    }

    .QrTitleBottom {
        height: 30px;
        font-size: 22px;
        line-height: 24px;
    }
    
    .Link {
        height: 117px;
    }

}