@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;300;400;500;600;700&display=swap");

.Container {
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.GridBox {
    width: 480px;
    height: 828px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Roboto Mono", monospace;
    font-weight: 700;
    font-size: 24px;
    box-sizing: border-box;
    justify-content: space-between;
    position: relative;
}



.InputBox {
    width: 480px;
    height: 280px;
}

.Title {
    font-family: 'TRY-finder-bold';
    font-weight: 700;
    font-size: 32px;
    width: 100%;
    margin-bottom: 40px;
    padding-left: 17px;
}

.Eye {
    position: absolute;
    top: 0px;
    right: 27px;
    box-sizing: border-box;
    width: min-content;
    height: 68px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.InputSmall {
    font-family: 'TRY-finder-regular';
    width: 86%;
    box-sizing: border-box;
    height: 66px;
    padding: 0;
    outline: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    border: 0px;
    padding-left: 17px;
    /* border-bottom: 1px solid inherit; */
    margin-bottom: 1px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.InputErrorSmall {
    font-family: 'TRY-finder-regular';
    width: 86%;
    box-sizing: border-box;
    height: 67px;
    padding: 0px;
    outline: 0px;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    border: 0;
    padding-left: 17px;
    border-bottom: 1px solid #FC3D3D;
    border-bottom-left-radius: 6px;
}

.InputEmail {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.InputEmailFilled {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.InputEmailError {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #FF464C;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    padding-left: 17px;
    margin-bottom: 10px;
}

.PasswordInput {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.PasswordInputFilled  {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #C0C0C0;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.PasswordInputError {
    font-family: 'TRY-finder-regular';
    width: 100%;
    height: 68px;
    border: 1px solid #FF464C;
    border-radius: 6px;
    box-sizing: border-box;
    font-size: 24px;
    font-weight: 400;
    position: relative;
    margin-bottom: 50px;
}

.ErrorMessage {
    position: absolute;
    bottom: 0px;
    height: 49px;
    width: fit-content;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 27px;
    line-height: 27px;
    color: #fff;
    background-color: #FF464C;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 11px;
    padding-bottom: 11px;
}

.Circle {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #EAEAEA;
}
.CircleDark {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000000;
}

.CircleFilled {
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000000;
    background-color: #000000;
}

::-webkit-input-placeholder { 
        color: #A8A8A8;
    }


i {
    height: 22px;
    box-sizing: border-box;
    font-size: 22px;
    color: #CECECE;
    line-height: 22px;
}

.Logo {
    width: 137px;
}

.Qr {
    width: 140px;
    height: 140px;
    margin-bottom: 20px;
    margin: 0 auto;
}

.QrBox {
    width: 100%;
    height: 147px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Button {
    width: 100%;
    height: 68px;
    border-radius: 6px;
    border: 0px;
    background-color: #EAEAEA;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.ButtonFilled {
    width: 100%;
    height: 68px;
    border-radius: 6px;
    border: 0px;
    background-color: #FF464C;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
}

.ButtonError {
    width: 100%;
    height: 68px;
    border-radius: 6px;
    border: 0px;
    background-color: #C02328;
    color: #fff;
    font-family: "TRY-finder-bold";
    font-weight: 700;
    font-size: 24px;
    line-height: 32.4px;
    animation-name:  horizontal-shaking;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;

    -webkit-animation-name:               horizontal-shaking;    
    -webkit-animation-duration:          0.3s;
    -webkit-animation-iteration-count:   1;
    -webkit-animation-timing-function:   linear;
    /* -webkit-transform-origin:            50% 100%; */
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
   }

.Button:active {
    cursor: pointer;
    transform: scale(98%);
    background-color: #C02328;
}

.ButtonFilled:hover {
    cursor: pointer;
    background-color: #C02328;
}

.ButtonFilled:active {
    cursor: pointer;
    transform: scale(98%);
    background-color: #C02328;
}

.QrContainer {
    height: 266px;
    width: fit-content;
}

.QrTitle {
    font-family: 'TRY-finder-bold';
    width: 100%;
    height: 43px;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.26px;
    text-align: center;
    margin-bottom: 20px;
}
.QrTitleBottom {
    font-family: 'TRY-finder-bold';
    width: 100%;
    height: 43px;
    font-weight: 700;
    font-size: 32px;
    line-height: 43.26px;
    text-align: center;
    margin-top: 20px;
}

.Link {
    height: 140px;
    width: fit-content;
}

input {
    border: 0px;
    outline: 0px;
}

@media (min-width: 540px) and (max-width: 745px) {
    .GridBox {
        width: 420px;
        height: 795px;
        
    }
    .InputBox {
        width: 420px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .InputSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputErrorSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    .InputEmailFilled {
        height: 58px;
    }

    .PasswordInputFilled  {
        height: 58px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }
    
    .ErrorMessage {
       height: 44px;
       width: 100vw; 
    }
    
    .Logo {
        width: 120px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 450px) and (max-width: 539px) {
    .GridBox {
        width: 420px;
        height: 795px;
        
    }
    .InputBox {
        width: 420px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .InputSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputErrorSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }

    .InputEmailFilled {
        height: 58px;
    }

    .PasswordInputFilled  {
        height: 58px;
    }
    
    
    .ErrorMessage {
        height: 44px;
        width: 100vw;
    }
    
    .Logo {
        width: 140px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 320px) and (max-width: 449px) {
    .GridBox {
        width: 320px;
        height: 650px;
        
    }
    .InputBox {
        width: 320px;
        height: 287px;

    }
    .Title {
        font-size: 28px;
        line-height: 37.8px;
        padding-left: 15px;
        margin-bottom: 25px;
    }
    .Eye {
        height: 58px;
    }
    .InputSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
    }
    .InputErrorSmall {
        height: 56px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
    }
    
    .InputEmail {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
        padding-left: 15px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 40px;
    }

    .InputEmailFilled {
        height: 58px;
    }

    .PasswordInputFilled  {
        height: 58px;
    }
    
    
    .PasswordInputError {
        height: 58px;
        font-size: 19px;
        line-height: 26px;

        margin-bottom: 10px;
    }
    
    .ErrorMessage {
        height: 44px;
        width: 100vw;
    }
    
    .Logo {
        width: 140px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 58px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 233px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }

    .QrTitleBottom {
        height: 38px;
        font-size: 28px;
        line-height: 38px;
    }
    
    .Link {
        height: 117px;
    }

}

@media (min-width: 200px) and (max-width: 319px) {
    .GridBox {
        width: 260px;
        height: 530px;
        
    }
    .InputBox {
        width: 260px;
        height: 227px;

    }
    .Title {
        font-size: 22px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 20px;
    }
    .Eye {
        height: 48px;
        right: 10px;
    }

    .EyeLogo {
        height: 17px;
    }
    .InputSmall {
        height: 46px;
        font-size: 17px;
        line-height: 24px;
    }
    .InputErrorSmall {
        height: 46px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
    }
    
    .InputEmail {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    .InputEmailError {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    
    .PasswordInput {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 20px;
    }
    
    .PasswordInputError {
        height: 48px;
        font-size: 17px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .InputEmailFilled {
        height: 58px;
    }

    .PasswordInputFilled  {
        height: 58px;
    }
    
    
    .ErrorMessage {
        height: 44px;
        width: 100vw;
    }
    
    .Logo {
        width: 120px;
    }
    
    .Qr {
        width: 117px;
        height: 117px;
        margin: 0 auto;
    }
    
    .QrBox {
        width: 100%;
        height: 117px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }
    
    .Button {
        height: 48px;
        font-size: 19px;
        line-height: 26px;
    }
    
    .ButtonFilled {
        height: 48px;
        font-size: 19px;
        line-height: 26px;
    }
    
    
    .QrContainer {
        height: 213px;
        width: fit-content;
    }
    
    .QrTitle {
        height: 30px;
        font-size: 22px;
        line-height: 24px;
    }

    .QrTitleBottom {
        height: 30px;
        font-size: 22px;
        line-height: 24px;
    }
    
    .Link {
        height: 117px;
    }

}