.App {
 background-color: #fff;
 height: 100vh;
 min-height: fit-content;
 box-sizing: border-box;
 overflow: hidden;
 /* overflow: auto; */
}

@font-face {
    font-family: 'TRY-finder-bold';
    src: url('./fonts/tryfinder-bold.woff');
    font-display: block;
}
@font-face {
    font-family: 'TRY-finder-regular';
    src: url('./fonts/tryfinder-regular.woff');
    font-display: block;
}
@font-face {
    font-family: 'TRY-finder-light';
    src: url('./fonts/tryfinder-light.woff');
    font-display: block;
}

@media screen and (min-width: 990px) and (max-width: 1650px) {
    .App {
        height: fit-content;
    }
}
