.Table {
    width: calc(100vw - 52px);
    max-height: calc(100vh - 144px);
    /* background: #f5f5f5;
    padding: 0px 20px 10px 20px; */
    box-sizing: border-box;

    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
    overflow-y: scroll;
}

.TableBody {
    width: calc(100% - 18px);
    height: fit-content;
    /* border: 1px solid black; */
    /* overflow-y: auto; */
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 5px 20px 10px 20px;
}

.Table::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}
.Table::-webkit-scrollbar-track {
    background: #f5f5f5;
    width: 8px;
    border-radius: 4px;
}
.Table::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #c0c0c0;
    border-radius: 4px;
    border: 2px solid #f5f5f5;
}

.TableHeader {
    height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;

    box-sizing: border-box;
    background-color: #f5f5f5;
    position: sticky;
    z-index: 3;
    left: 0px;
    top: -1px;
    border-radius: 0px 8px 0px 0px;
}

.ColumnHeader {
    height: 24px;
    border-right: 1px solid #c0c0c0;
    box-sizing: border-box;
    min-width: fit-content;
    background-color: #f5f5f5;
}

#Column1 {
    width: 59px;
    min-width: fit-content;
}
#Column2 {
    width: 107px;
    min-width: fit-content;
}
#Column3 {
    width: 148px;
    min-width: fit-content;
}
#Column4 {
    width: 205px;
    min-width: fit-content;
}
#Column5 {
    width: 142px;
    min-width: fit-content;
}
#Column6 {
    width: 149px;
    min-width: fit-content;
}
#Column7 {
    width: 149px;
    min-width: fit-content;
}
#Column8 {
    width: 118px;
    min-width: fit-content;
}
#Column9 {
    width: 135px;
    min-width: fit-content;
}
#Column10 {
    width: 142px;
    min-width: fit-content;
}
#Column11 {
    width: 255px;
    min-width: fit-content;
    border: 0;
}

#StocksColumn1 {
    width: 59px;
    min-width: fit-content;
}
#StocksColumn2 {
    width: 486px;
    min-width: fit-content;
}
#StocksColumn3 {
    width: 320px;
    max-width: 320px;
    min-width: fit-content;
    /* overflow: hidden; */
}
#StocksColumnRow3 {
    width: 320px;
    max-width: 320px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    /* overflow: hidden;
    white-space: nowrap;
    padding-right: 5px;
    box-sizing: border-box;
    text-overflow: ellipsis; */
}
#StocksColumn4 {
    width: 153px;
    min-width: fit-content;
}
#StocksColumn5 {
    width: 75px;
    min-width: fit-content;
}
#StocksColumn6 {
    width: 149px;
    min-width: fit-content;
}
#StocksColumn7 {
    width: 118px;
    min-width: fit-content;
}
#StocksColumn8 {
    width: 163px;
    min-width: fit-content;
}
#StocksColumn9 {
    width: 125px;
    min-width: fit-content;
    border: 0;
}

.RowContainer {
    width: 100%;
    /* height: calc(100% - 47px); */
    box-sizing: border-box;
    overflow: scroll;
    /* overflow-y: scroll; */
}

.RowContainer::-webkit-scrollbar {
    width: 8px; /* ширина scrollbar */
    border-radius: 4px;
    box-sizing: border-box;
}
.RowContainer::-webkit-scrollbar-track {
    background: #f5f5f5; /* цвет дорожки */
    width: 8px;
    border-radius: 4px;

    /* border-right: 11px solid #e9e9e9;
    border-left: 11px solid #e9e9e9; */
}
.RowContainer::-webkit-scrollbar-thumb {
    width: 8px;
    /* border-right: 13px solid inherit;
    border-left: 13px solid inherit; */
    background-color: #c0c0c0; /* цвет плашки */
    border-radius: 4px;
    border: 2px solid #f5f5f5;
    /* padding вокруг плашки */
}

.Row {
    width: 100%;
    height: 40px;
    box-sizing: border-box;
    border-top: 1px solid #c0c0c0;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}
.Row > div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    box-sizing: border-box;
}

.ButtonBox {
    height: 40px;
    width: 255px;
    min-width: fit-content;
    display: flex;
    align-items: center;
    gap: 60px;
    flex-direction: row;

    box-sizing: border-box;
}

.LoaderContainer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Loader {
    width: 16px;
    height: 16px;
    position: relative;
    left: -32px;
    border-radius: 50%;
    color: rgb(0, 0, 0);
    background: currentColor;
    box-shadow: 32px 0, -32px 0, 64px 0;
}

.Loader::after {
    content: "";
    position: absolute;
    left: -32px;
    top: 0;
    width: 16px;
    height: 16px;
    border-radius: 10px;
    background: rgb(255, 0, 0);
    animation: move 3s linear infinite alternate;
}

@keyframes move {
    0%,
    5% {
        left: -32px;
        width: 16px;
    }
    15%,
    20% {
        left: -32px;
        width: 48px;
    }
    30%,
    35% {
        left: 0px;
        width: 16px;
    }
    45%,
    50% {
        left: 0px;
        width: 48px;
    }
    60%,
    65% {
        left: 32px;
        width: 16px;
    }

    75%,
    80% {
        left: 32px;
        width: 48px;
    }
    95%,
    100% {
        left: 64px;
        width: 16px;
    }
}

.OpenButton {
    cursor: pointer;
}
.DeleteRowButton {
    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #c0c0c0;
}
.RowInput {
    background-color: inherit;
    border: 0;
    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    min-height: 100%;
    color: #000000;

    padding: 0;
    height: 40px;
}

#RowInput2 {
    background-color: inherit;
    width: 100%;
    min-width: fit-content;
    box-sizing: border-box;
    padding: 0;

    height: 40px;
    border: 0;
    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    min-height: 100%;
    color: #000000;
}
#RowInput4 {
    background-color: inherit;
    max-width: 153px;
    /* min-width: fit-content; */
    box-sizing: border-box;
    padding: 0;
    border: 0;

    height: 40px;

    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    min-height: 100%;
    color: #000000;
}
#RowInput5 {
    background-color: inherit;
    max-width: 75px;
    /* min-width: fit-content; */
    box-sizing: border-box;
    padding: 0;
    border: 0;

    height: 40px;

    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    min-height: 100%;
    color: #000000;
}
#RowInput7 {
    background-color: inherit;
    max-width: 118px;
    /* min-width: fit-content; */
    box-sizing: border-box;
    padding: 0;
    border: 0;

    height: 40px;

    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;
    min-height: 100%;
    color: #000000;
}


.TableContainer {
    width: 100%;
    height: calc(100vh - 143px);
    background: #f5f5f5;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
}

.TableAdd {
    width: calc(100vw - 52px - 520px);
    height: 100%;
    max-height: calc(100vh - 144px);

    box-sizing: border-box;

    font-family: "TRY-finder-light";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 24px;

    color: #000000;
    overflow-y: scroll;
}

.TableBodyAdd {
    width: calc(100% - 18px);
    height: fit-content;
    /* border: 1px solid black; */
    /* overflow-y: auto; */
    position: relative;
    box-sizing: border-box;
    background-color: #f5f5f5;
    padding: 5px 20px 10px 20px;
}

.TableAdd::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
    box-sizing: border-box;
}
.TableAdd::-webkit-scrollbar-track {
    background: #f5f5f5;
    width: 8px;
    border-radius: 4px;
}
.TableAdd::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #c0c0c0;
    border-radius: 4px;
    border: 2px solid #f5f5f5;
}

.TableAddHeader {
    height: 47px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    gap: 15px;

    box-sizing: border-box;
    background-color: #f5f5f5;
    position: sticky;
    z-index: 3;
    left: 0px;
    top: -1px;
    border-radius: 0px 8px 0px 0px;
}
/*  */
#StocksAddColumn1 { 
    width: 45px;
    min-width: fit-content;
}
/*  */
#StocksAddColumn2 {
    width: 299px;
    min-width: fit-content;
}
/*  */
#StocksAddColumn3 {
    width: 250px;
    max-width: 250px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    padding-right: 5px;
}
/*  */
#StocksAddColumn4 {
    width: 116px;
    max-width: 116px;
    box-sizing: border-box;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}
/*  */
#StocksAddColumn5 {
    width: 66px;
    min-width: fit-content;
}
/*  */
#StocksAddColumn6 {
    width: 104px;
    min-width: fit-content;
}
/*  */
#StocksAddColumn7 {
    width: 112px;
    min-width: fit-content;
}
/*  */
#StocksAddColumn8 {
    width: 168px;
    min-width: fit-content;
}

